/*   ===Font===   */
body {
	font-family: "Lato", sans-serif;
}

/*   ===Main Form Layout===   */
.main-layout {
	display: grid;
	grid-template-columns: 0.4fr 1fr 0.4fr 1fr;
	grid-template-areas:
		"a b . ."
		"c d e f"
		". . . ."
		". . . ."
		"g g g g"
		". . . h";
	grid-gap: 20px;
	padding: 25px 35px;
}

/*   Mini Form Layout   */
.mini-layout {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	padding-left: 50px;
}

.form-label {
	font-size: 17px;
}

.form-input-box {
	width: 100%;
}
/*=============================*/

/*   Style of the button   */
.confirm-button {
	font-size: 22px;
	padding: 10px 20px;
	float: right;
}